body {
    margin: 0px;
    background-color: white;
}

nav {
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-grow: 1;
    align-items: center;
}

nav ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li a{
    text-decoration: none;

    margin-left: 8px;
    margin-right: 8px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;

    font-size: larger;
    color: rgb(0, 0, 0);
    background-color: rgb(132, 136, 187);
}
nav ul li a:hover {
    background-color: rgb(78, 85, 187);
}