<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><p>Todo List</p></li>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('index')}}">Quick Report</a></li>
                    <li><a href="{{url_for('index')}}">About</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>